[Unit]
Description=krx-price Data Collection Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory={{PROJECT_ROOT}}
Environment="APP_UID={{APP_UID}}"
Environment="APP_GID={{APP_GID}}"
ExecStart=/usr/bin/docker compose run --rm app

[Install]
WantedBy=default.target
