[Unit]
Description=MarketData Fetch Service
After=network.target

[Service]
Type=oneshot
WorkingDirectory={{PROJECT_ROOT}}
# Run the fetch script using bash
ExecStart=/bin/bash {{PROJECT_ROOT}}/src/run.sh

[Install]
WantedBy=default.target
